name: NFC-Card-Generator

on: [push, pull_request]

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build NFC Card Generator executable
        run: |
          pyinstaller nfc-card-generator.py `
            --onefile `
            --noconsole `
            --icon icon.ico `
            --add-data "icon.png;." `
            --add-data "templates;templates"
        working-directory: NFC-Card-Generator

      - name: Upload NFC-Card-Generator artifact
        uses: actions/upload-artifact@v6
        with:
          name: NFC-Card-Generator
          path: NFC-Card-Generator/dist

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Download Artifacts
        uses: actions/download-artifact@v7
        with:
          path: dist
          merge-multiple: true

      - name: Re-ZIP artifacts
        run: |
          cd dist
          zip -r ../NFC-Card-Generator.zip *

      - name: Update Git Tag
        run: |
          git tag -f Pre-release
          git push -f origin Pre-release

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          prerelease: true
          allowUpdates: true
          removeArtifacts: true
          tag: Pre-release
          artifacts: "NFC-Card-Generator.zip"
