name: NFC-Card-Generator

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build NFC Card Generator executable
        run: |
          pip install pyinstaller
          pyinstaller nfc-card-generator.py --onefile --noconsole
        working-directory: NFC-Card-Generator

      - name: Copy templates folder to dist
        run: |
         cp -r templates NFC-Card-Generator/dist/templates

      - name: Upload NFC-Card-Generator artifact
        uses: actions/upload-artifact@v6
        with:
          name: NFC-Card-Generator
          path: NFC-Card-Generator/dist
